{% extends "layout/basic.html" %}
{% load bbcode_tags %}

{% block title %}{{ bb.title }}{% endblock %}

{% block content %}
    <p>Рубрика: {{ bb.rubric.name|title }}</p>
    <h2>{{ bb.title }}</h2>

    {% bbcode bb.content %}

    {{ bb.content|bbcode|safe }}

{# если прописали в модели #}
{#{{ bb.content.rendered }}#}

    <p>{{ bb.content }} ({{ bb.content|wordcount }} слов) ({{ bb.content|length }} символов)</p>
    <p>Цена: {{ bb.price|floatformat:2|default:'У товара нет цены' }}</p>

    <p>
        <a href="{% url 'bboard:update' bb.pk %}">Изменить</a>
        <a href="{% url 'bboard:delete' bb.pk %}">Удалить</a>
    </p>
{% endblock %}