<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
{% for bb in bbs %}
    <p>{{ bb }}</p>
{% endfor %}

{% for item in title %}
        <li>{{ item }}</li>
    {% endfor %}
{% if title|length > 0 %}
    <p> the list</p>
{% else %}
    <p>The list</p>
{% endif %}

{% if page_obj.has_other_pages %}
    <nav aria-label="pagination">
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}">Назад</a>
                </li>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}
                {% if not p == page_obj.number %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link disabled bg-primary text-light"
                       href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}">Вперёд</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
<h2>{{ res }}</h2>
<h3>{{ res.url_name }}</h3>
<h3>{{ res.view_name }}</h3>

</body>
</html>